#numbers{
    margin-left: 15px;
}
body{
    background-color: greenyellow;
    font-weight: bolder;
}

#numbers{
    
    text-decoration-line: underline;
    text-decoration-color: red;
    color: blue;
}